.App {
  text-align: center;
  background-color: #41D6DD;
}
.quiz-screen-body{
  text-align: left;
}
body{
  margin: 0;
  padding: 0;
}
.main{
  overflow: hidden;
    height: 100%;
    margin: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.question-text{
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  padding-bottom: 6rem;
}
.option-container{
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  justify-content: center;
}
.option-1{
  background-color: green;
}
.option-2{
  background-color: red;
}
.option-3{
  background-color: rgb(216, 216, 8);
}
.option-4{
  background-color: brown;
}
.link-buttons{
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.box-button{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 4rem;
}
/* From Uiverse.io by niat786 */ 
.btn {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 27px;
  padding: 0.6em 1.5em;
 }
 
 .btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
